#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  text-align: center;
  padding: 0;
  margin: 0;
  max-width: 60vw;
  /* background-color: pink; */
}

.App-header {
  /* min-height: 10vh; */
}

.App-main {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.display-cocktails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.display-cocktails li {
  list-style: none;
  padding: 1rem;
}
